{% extends 'base.html.twig' %}

{% block title %}Admin — {{ parent() }}{% endblock %}

{% block styles %}
  {{ parent() }}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
  <script>
    window.APP_CONFIG = window.APP_CONFIG || {};
    window.APP_CONFIG.pagination = {
      default: {
        itemsPerPageOptions: {{ pagination_config_default.itemsPerPageOptions|json_encode|raw }},
        defaultItemsPerPage: {{ pagination_config_default.defaultItemsPerPage|json_encode|raw }}
      },
      city: {
        itemsPerPageOptions: {{ pagination_config_city.itemsPerPageOptions|json_encode|raw }},
        defaultItemsPerPage: {{ pagination_config_city.defaultItemsPerPage|json_encode|raw }}
      }
    };
  </script>
  <div id="admin-app"></div>
  {% block admin_body %}{% endblock %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}


