{% extends 'base.html.twig' %}

{% block title %}Catalog — {{ parent() }}{% endblock %}

{% block styles %}
  {{ parent() }}
  {{ encore_entry_link_tags('catalog') }}
{% endblock %}

{% block body %}
  {% block catalog_body %}{% endblock %}
  {% if app.request.get('_route') == 'catalog_index' %}
    <div id="catalog-app"></div>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('catalog') }}
{% endblock %}


